@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }
}

@layer components {
  .heading-number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    @apply bg-emerald-900;
  }
}

.roadMap-w1 {
  width: 54.3%;
}

.roadMap-w2 {
  width: 46%;
}

.roadMap-marginTop {
  margin-top: -35px;
}
